docs/n8n/daily-pipeline-v2.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a2bac56c-ca08-41ba-aab6-7e75ef128bb3",
      "name": "Daily 8AM UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1104, 208]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "api-key-assignment",
              "name": "apiKey",
              "value": "PASTE_YOUR_INGEST_API_KEY_HERE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f0e1d2c3-b4a5-4678-9012-3456789abcde",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1104, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://formd-scout.vercel.app/api/edgar/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Set Config').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"startDate\": \"{{ $now.minus(1, 'day').toFormat('yyyy-MM-dd') }}\",\n  \"endDate\": \"{{ $now.toFormat('yyyy-MM-dd') }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "428642fe-9539-4f8a-b6b2-ba89ef3ec43c",
      "name": "Ingest Form D Filings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-880, 208],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-ingested",
              "leftValue": "={{ $json.ingested }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ea67adc6-cfd7-4c1e-950b-6eceb674bb74",
      "name": "New Filings?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-656, 208]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://formd-scout.vercel.app/api/edgar/enrich",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Set Config').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "id": "93fd638b-ac6b-4ff5-b5af-b73f2d05331f",
      "name": "AI Enrich Filings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-448, 112],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "more-to-enrich",
              "leftValue": "={{ $json.enriched }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "78245798-3077-4433-bc91-0a1bc1b6d329",
      "name": "More to Enrich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-224, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://formd-scout.vercel.app/api/edgar/enrich",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Set Config').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "id": "9d2d247f-6758-47d2-b11c-4ede77c18334",
      "name": "Enrich Batch 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://formd-scout.vercel.app/api/edgar/enrich",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Set Config').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "id": "2c338976-3eff-45b0-a5a0-db6c58d69d2e",
      "name": "Enrich Batch 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [224, 0],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d95015a6-c969-4ed3-b2a3-d9d21695799e",
      "name": "Build Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [448, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://formd-scout.vercel.app/api/edgar/enrich/per-user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Set Config').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"daysBack\": 1 }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "id": "e1f2a3b4-c5d6-4789-e0f1-a2b3c4d5e6f7",
      "name": "Enrich Per-User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 112],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://formd-scout.vercel.app/api/edgar/research/batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Set Config').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "id": "b1c2d3e4-f5a6-47b8-c9d0-e1f2a3b4c5d6",
      "name": "Research High-Relevance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [672, 112],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "more-to-research",
              "leftValue": "={{ $json.researched }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4789-a0b1-c2d3e4f5a6b7",
      "name": "More to Research?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [896, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://formd-scout.vercel.app/api/edgar/research/batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Set Config').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "id": "c1d2e3f4-a5b6-4789-c0d1-e2f3a4b5c6d7",
      "name": "Research Batch 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 0],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://formd-scout.vercel.app/api/edgar/alerts/digest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Set Config').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "id": "d1e2f3a4-b5c6-4789-d0e1-f2a3b4c5d6e7",
      "name": "Send Alert Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1344, 112],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fc300d02-0694-46f5-b992-b46c1359d4aa",
      "name": "Log: No New Filings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-448, 320]
    },
    {
      "parameters": {
        "content": "\nDaily SEC Ingestion, Enrichment, Research & Alerts (v2)\n\nRuns every weekday at 8 AM UTC (3 AM EST)\n1. Ingest — Pulls new Form D filings from the SEC website (yesterday + today).\n2. Check — If new filings found → enrich. If none → stop.\n3. Enrich — AI scores each filing 1–100 for relevance. Runs in batches of 10.\n4. Summary — Logs ingestion + enrichment counts.\n5. Per-User Enrich — Re-scores today's filings using each user's custom scoring profile.\n6. Research — Auto-researches high-relevance companies via Firecrawl (batch of 5).\n7. More Research? — If batch was near-full, run another batch.\n8. Alert Digest — Checks alert configs and sends email notifications for matching filings.",
        "height": 280,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-240, 272],
      "typeVersion": 1,
      "id": "120b7d00-9834-41f6-a077-094d3568c801",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Daily 8AM UTC": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Ingest Form D Filings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Form D Filings": {
      "main": [
        [
          {
            "node": "New Filings?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Filings?": {
      "main": [
        [
          {
            "node": "AI Enrich Filings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: No New Filings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Enrich Filings": {
      "main": [
        [
          {
            "node": "More to Enrich?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More to Enrich?": {
      "main": [
        [
          {
            "node": "Enrich Batch 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Batch 2": {
      "main": [
        [
          {
            "node": "Enrich Batch 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Batch 3": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Enrich Per-User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Per-User": {
      "main": [
        [
          {
            "node": "Research High-Relevance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research High-Relevance": {
      "main": [
        [
          {
            "node": "More to Research?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More to Research?": {
      "main": [
        [
          {
            "node": "Research Batch 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Alert Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Batch 2": {
      "main": [
        [
          {
            "node": "Send Alert Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2221f298da57396f5606c32519dd53744c4c25aad4e048716f8a0d85e0ee9820"
  }
}
